// variables
$primaryColor: dodgerblue;

// reset
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Joan', serif;
    text-align: center;
}

// shared layout navbar
.navbar {
    display: flex;
    justify-content: center;
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    padding: 25px;
    border-bottom: 1px solid rgb(87, 87, 87);

    .navitems {
        display: flex;

        .navbtn {
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
            font-size: 16px;
            padding: 5px;
            margin: 0 2px;
            border: 2px solid white;
            border-radius: 5px;
            background-color: white;
            color: $primaryColor;

            &:hover {
                background-color: $primaryColor;
                color: white;
            }
        }
    }

    .avatar {
        margin-top: 20px;
        margin-right: 5px;
        position: fixed;
        top: 0;
        right: 0;
    }
}

// home page
.home-container {
    height: 90vh;
    background-image: url('./images/cookbook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $primaryColor;
        background: rgba($color: white, $alpha: .5);
        padding: 5%;

        h1 {
            color: $primaryColor;
        }

        h3 {
            color: $primaryColor;
        }

        ul {
            text-align: left;
            list-style: none;

            li {
                margin: 2%;
            }

            li::before {
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-weight: bold;
                content: '\2022';
                color: $primaryColor;
            }
        }

        button {
            color: white;
            background-color: $primaryColor;
            width: 150px;
            padding: 2%;
        }
    }
}



// recipes
.recipe-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .filters-container {
        margin: 10px;

        button {
            cursor: pointer;
            margin: 10px;
        }
    }

    .search-container {
        background-color: rgb(197, 226, 255);
    }

    .recipes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        border: 1px solid lightgray;


        .recipes-cards {
            flex-grow: 1;
            width: 300px;
            border: 1px solid lightgray;
            padding: 10px;
            margin: 10px;
        }
    }
}
//create recipe page
.create-form-container{
    border:1px solid black;
    display:flex;
    justify-content: center;
    form{
        display:flex;
        flex-direction: column;
        
    }
}
// contact formspree styles
.contact-form {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    input {
        border: 1px solid black;
    }

    textarea {
        border: 1px solid black;
        resize: none;
    }

    button {
        width: 50px;
        margin: 0 auto;
    }
}

footer {
    border-top: 1px solid rgb(87, 87, 87);
    color: white;
    background-color: $primaryColor;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}