// variables
$primaryColor: dodgerblue;
$secondaryColor: white;
$thirdColor: #3F4448;

// mixins 
@mixin dashboard-button-format {
    text-decoration: none;
    color: $secondaryColor;
    background-color: $thirdColor;
    margin: 10px 10px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

// resets and desired behavior
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Joan', serif;
    text-align: center;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

button {
    cursor: pointer;
}

// shared layout navbar
.navbar {
    display: flex;
    justify-content: center;
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    padding: 25px;
    border-bottom: 1px solid rgb(87, 87, 87);

    .logo {
        margin-left: 5px;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 85px;
        width: auto;
        z-index: -1;
    }

    .navitems {
        display: flex;

        .navbtn {
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
            font-size: 16px;
            padding: 5px;
            margin: 0 2px;
            border: 2px solid $secondaryColor;
            border-radius: 5px;
            background-color: $secondaryColor;
            color: $primaryColor;

            &:hover {
                background-color: $primaryColor;
                color: $secondaryColor;
            }
        }
    }

    .avatar {
        margin-top: 20px;
        margin-right: 5px;
        position: fixed;
        top: 0;
        right: 0;
    }
}

// home page
.home-container {
    margin-bottom: -1px;
    height: 90vh;
    background-image: url('./images/cookbook.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $primaryColor;
        background: rgba($color: $secondaryColor, $alpha: .5);
        padding: 5%;
        min-width: 400px;

        h1 {
            color: $primaryColor;
        }

        h3 {
            color: $primaryColor;
        }

        ul {
            text-align: left;
            list-style: none;

            li {
                margin: 2%;
            }

            li::before {
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-weight: bold;
                content: '\2022';
                color: $primaryColor;
            }
        }

        button {
            color: $secondaryColor;
            background-color: $primaryColor;
            width: 150px;
            padding: 2%;
        }
    }
}



// recipes
.recipe-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .filters-container {
        background-color: $thirdColor;

        button {
            cursor: pointer;
            width: 75px;
            color: $thirdColor;

            margin: 5px 5px;
            padding: 5px;
            border-radius: 5px;
            font-size: .75rem;
        }
    }

    .search-container {
        background-color: $primaryColor;
        color: $secondaryColor;
        padding: 5px;

        input {
            text-align: center;
            border-radius: 5px;
            margin-right: 5px;
        }
    }

    .recipes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        border: 1px solid lightgray;


        .recipes-cards {
            flex-grow: 1;
            width: 300px;
            max-width: 300px;
            border: 1px solid lightgray;
            padding: 10px;
            margin: 10px;

            .recipe-cards-photo {
                width: 100%;
                height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

// individual recipe page
section {
    div {
        img {
            width: 500px;
            height: auto;
        }
    }
}

//create recipe page
.create-form-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;

    }
}

// dashboard
section {
    margin-bottom: 50px;

    .create-recipe-btn {
        display: block;
        color: $secondaryColor;
        background-color: green;
        width: 150px;
        padding: 5px;
        margin: 15px auto;
        border-radius: 5px;
        border: 1px solid $secondaryColor;

        &:hover {
            transition: 0.5s;
            color: green;
            background-color: $secondaryColor;
            border: 1px solid green;
        }
    }

    .dashboard-recipes-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;


        .dashboard-titles {
            background-color: $primaryColor;
            display: flex;
            justify-content: center;

            h3 {
                color: $secondaryColor;
                width: 100%;
            }
        }

        .dashboard-recipe {
            border-radius: 5px;
            background-color: $thirdColor;
            color: rgb(255, 255, 255);
            margin-top: 10px;
            padding: 10px 0px;


            .dashboard-recipe-details {
                display: flex;
                align-items: center;

                img {
                    border-radius: 20px;
                    width: 15%;
                    margin: auto;
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                }

                p {

                    width: 20%;
                    overflow-wrap: break-word;

                }
            }

            .dashboard-btn-container {
                display: flex;
                justify-content: center;

                button {
                    @include dashboard-button-format;
                    border: 2px solid red;

                    &:hover {
                        color: red;
                    }
                }

                .view {
                    @include dashboard-button-format;
                    border: 2px solid $primaryColor;

                    &:hover {
                        color: $primaryColor;
                    }
                }

                .edit {
                    @include dashboard-button-format;
                    border: 2px solid green;

                    &:hover {
                        color: green;
                    }
                }
            }
        }
    }
}

// contact formspree styles
.contact-form {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    input {
        border: 1px solid black;
    }

    textarea {
        border: 1px solid black;
        resize: none;
    }

    button {
        width: 50px;
        margin: 0 auto;
    }
}

footer {
    border-top: 1px solid rgb(87, 87, 87);
    color: $secondaryColor;
    background-color: $primaryColor;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}