// reset
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
}

body {
    font-family: 'Joan', serif;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    position: sticky;
    top: 0;
    padding: 25px;
    border-bottom: 1px solid rgb(87, 87, 87);

    .navitems {
        display: flex;

        .navbtn {
            text-decoration: none;
            cursor: pointer;
            width: 75px;
            transition: 0.5s;
            font-size: 16px;
            padding: 5px;
            margin: 0 2px;
            border: 2px solid white;
            border-radius: 5px;
            background-color: white;
            color: dodgerblue;

            &:hover {
                background-color: dodgerblue;
                color: white;
            }
        }
    }

    .avatar {
        margin-top: 20px;
        margin-right: 5px;
        position: fixed;
        top: 0;
        right: 0;
    }
}

// contact formspree styles
.contactform {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    input {
        border: 1px solid black;
    }

    textarea {
        border: 1px solid black;
        resize: none;
    }

    button {
        width: 50px;
        margin: 0 auto;
    }
}

footer {
    border-top: 1px solid rgb(87, 87, 87);
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}